* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

button {
  white-space: nowrap;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat";
  font-size: 16px;
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1215px;
  padding-left: 60px;
  padding-right: 60px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.fixed__icon svg {
  width: 43px;
}

.fixed__icon {
  background: #9C5A43;
  -webkit-box-shadow: 0px 0px 24px rgba(114, 54, 20, 0.6);
          box-shadow: 0px 0px 24px rgba(114, 54, 20, 0.6);
  position: fixed;
  right: 60px;
  bottom: 40px;
  z-index: 10;
  border-radius: 50%;
  display: block;
  width: 90px;
  height: 90px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 950;
}

#modal-container.one {
  -webkit-transform: scaleY(0.01) scaleX(0);
      -ms-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background {
  overflow: auto;
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modal-background .modal {
  background: white;
  display: inline-block;
  position: relative;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }

  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }

  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.modal-background .modal {
  max-width: 640px;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #111111;
  position: relative;
}

.modal__initial {
  max-height: 160px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-full,
.btn-empty {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

.btn-full {
  background: #9C5A43;
  color: #fff;
}

.btn-empty {
  color: #9C5A43;
  background-color: transparent;
  border: 1px solid #9C5A43;
}

.modal__text {
  padding-top: 32px;
  padding-bottom: 48px;
  padding-left: 36px;
  padding-right: 36px;
}

input[type=text] {
  height: 45px;
  width: 100%;
  border: 1px solid #111111;
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  color: #D0D0D0;
}

input::-moz-placeholder {
  color: #D0D0D0;
}

input:-ms-input-placeholder {
  color: #D0D0D0;
}

input::-ms-input-placeholder {
  color: #D0D0D0;
}

input::placeholder {
  color: #D0D0D0;
}

.modal__grid {
  gap: 24px;
}

.modal__grid-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.modal__input {
  margin-bottom: 36px;
}

.modal h5 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.modal p {
  margin-bottom: 36px;
  line-height: 160%;
}

.modal button {
  max-width: 310px;
  width: 100%;
}

.modal h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  width: 100%;
}

.modal__checkbox {
  margin-bottom: 36px;
}

input[type=radio] {
  opacity: 0;
}

.radio__item label {
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #111111;
}

.radio__item span {
  text-align: left;
  line-height: 170%;
  padding-left: 8px;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

input[type=radio]:checked ~ label {
  background: #9C5A43;
}

.modal__close {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  cursor: pointer;
}

h2 {
  margin-bottom: 16px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 140%;
}

h2 span {
  color: #9C5A43;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 10px 0;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.header__scroll {
  background: rgba(17, 17, 17, 0.5);
}

@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  header {
    background: rgba(17, 17, 17, 0.4);
  }

@media (max-width: 600px) {
    header {
      background: #242A35;
    }
}

  .header__scroll {
    background: rgba(17, 17, 17, 0.6);
  }

@media (max-width: 600px) {
    .header__scroll {
      background: #242A35;
    }
}
}

.header__logo {
  max-width: 145px;
  height: 100%;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
}

.header__tell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -webkit-animation: trin 3s linear infinite normal 0s forwards;
          animation: trin 3s linear infinite normal 0s forwards;
}

.header__tell svg path {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__list {
  padding: 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 10px;
}

.header__list li {
  white-space: nowrap;
  color: #FFFFFF;
  line-height: 175%;
}

@-webkit-keyframes trin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  20%, 32%, 44%, 56%, 68% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  23%, 35%, 47%, 59%, 71% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  26%, 38%, 50%, 62%, 74% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  29%, 41%, 53%, 65%, 77% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes trin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  20%, 32%, 44%, 56%, 68% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  23%, 35%, 47%, 59%, 71% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  26%, 38%, 50%, 62%, 74% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  29%, 41%, 53%, 65%, 77% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.header__burger {
  display: none;
}

.burger__open {
  padding-top: 80px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: none;
}

.burger__logo,
.header__tell-burger {
  max-width: 140px;
  margin-bottom: 40px;
}

.burger__list li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 170%;
}

.initial {
  position: relative;
  padding-top: 276px;
  padding-bottom: 276px;
}

.initial__bg,
.initial__bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.initial__bg {
  display: none;
}

.initial__bg-mobile {
  display: block;
}

.initial__bg-color {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.initial__body {
  position: relative;
  z-index: 5;
}

h1 {
  max-width: 70%;
  width: 100%;
  color: #fff;
  font-weight: 300;
  line-height: 120%;
  font-size: 70px;
  margin-bottom: 48px;
}

.initial button {
  max-width: 310px;
  width: 100%;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  line-height: 125%;
  color: #111111;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.initial button:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: rgb(221, 217, 217);
}

.preview {
  padding-top: 115px;
  padding-top: 125px;
  color: #111111;
}

.preview__net ul {
  margin-bottom: 36px;
}

.preview__net li {
  padding: 5px 0 5px 24px;
}

.preview__net p {
  line-height: 170%;
}

.preview__net-galery,
.preview__net-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.preview__net-buttons {
  gap: 16px;
}

.preview__button-type {
  width: 200px;
}

.preview__button-price {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 200px;
}

.preview__net-p1 {
  margin-bottom: 20px;
}

.preview__net-p2 {
  margin-bottom: 5px;
}

footer {
  height: 200vh;
}

@media (min-width: 380px) {
  .initial__bg {
    display: block;
  }

  .initial__bg-mobile {
    display: none;
    -o-object-position: 25% 0%;
       object-position: 25% 0%;
  }
}

@media (max-width: 1440px) {
  .content {
    padding-left: calc(16px + 44 * ((100vw - 320px) / 1440));
  }

  .content {
    padding-right: calc(16px + 44 * ((100vw - 320px) / 1440));
  }

  .fixed__icon svg {
    width: calc(24px + 19 * ((100vw - 320px) / 1440));
  }

  .fixed__icon {
    right: calc(16px + 44 * ((100vw - 320px) / 1440));
  }

  .fixed__icon {
    bottom: calc(16px + 24 * ((100vw - 320px) / 1440));
  }

  .fixed__icon {
    width: calc(52px + 38 * ((100vw - 320px) / 1440));
  }

  .fixed__icon {
    height: calc(52px + 38 * ((100vw - 320px) / 1440));
  }

  .modal__text {
    padding-bottom: calc(32px + 16 * ((100vw - 320px) / 1440));
  }

  .modal__text {
    padding-left: calc(16px + 20 * ((100vw - 320px) / 1440));
  }

  .modal__text {
    padding-right: calc(16px + 20 * ((100vw - 320px) / 1440));
  }

  .modal__input {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1440));
  }

  .modal h5 {
    font-size: calc(20px + 12 * ((100vw - 320px) / 1440));
  }

  .modal p {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1440));
  }

  .modal__checkbox {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1440));
  }

  h2 {
    margin-bottom: calc(12px + 4 * ((100vw - 320px) / 1440));
  }

  h2 {
    font-size: calc(20px + 12 * ((100vw - 320px) / 1440));
  }

  .header__list {
    -webkit-column-gap: calc(14px + 10 * ((100vw - 320px) / 1440));
       -moz-column-gap: calc(14px + 10 * ((100vw - 320px) / 1440));
            column-gap: calc(14px + 10 * ((100vw - 320px) / 1440));
  }

  .initial {
    padding-top: calc(180px + 96 * ((100vw - 320px) / 1440));
  }

  .initial {
    padding-bottom: calc(180px + 96 * ((100vw - 320px) / 1440));
  }

  h1 {
    font-size: calc(32px + 38 * ((100vw - 320px) / 1440));
  }

  h1 {
    margin-bottom: calc(20px + 28 * ((100vw - 320px) / 1440));
  }

  .preview {
    padding-top: calc(70px + 45 * ((100vw - 320px) / 1440));
  }

  .preview {
    padding-top: calc(70px + 55 * ((100vw - 320px) / 1440));
  }

  .preview__net ul {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 992px) {
  h1 {
    max-width: 100%;
    text-align: center;
  }

  .initial__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .initial button {
    background: rgba(255, 255, 255, 0.68);
  }
}

@media (max-width: 767px) {
  .modal__grid {
    gap: 16px;
  }

  .modal__close {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@media (max-width: 600px) {
  .modal__initial {
    display: none;
  }

  input[type=text] {
    height: 40px;
  }

  .modal__grid-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .radio__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  header {
    padding: 7px 0;
    background: #242A35;
    max-height: 80px;
  }

  .header__scroll {
    background: #242A35;
  }

  .header__tell {
    display: none;
  }

  .header__list {
    display: none;
  }

  .header__burger {
    z-index: 9000;
    position: relative;
    display: block;
    width: 24px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 24px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #fff;
    border-radius: 50px;
    width: 16px;
    height: 3px;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 7px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #fff;
    border-radius: 50px;
    width: 16px;
    height: 3px;
    position: absolute;
    top: 14px;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:before {
    content: "";
    display: block;
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    height: 3px;
    position: absolute;
    top: calc(100% - 3px);
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close span:before {
    opacity: 0;
  }

  .burger__open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #9C5A43;
    overflow: auto;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .initial {
    margin-top: 80px;
    padding-top: 180px;
  }
}

@media (max-width: 600px) and (max-width: 1440px) {
  .initial {
    padding-top: calc(120px + 60 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 575px) {
  .burger__open-btn-item {
    display: inline-block;
  }
}

@media (any-hover: hover) {
  .fixed__icon:hover svg path {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    fill: #FDDD04;
  }

  .header__tell:hover {
    -webkit-animation: none;
            animation: none;
  }

  .header__tell:hover svg path {
    fill: #FDDD04;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .header__list li:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #FDDD04;
  }
}